body {
	margin: 0% 15% 15% 15%;
}

a:link {color:white;}
a:visited {color:white;}
a:hover {color:white;}
a:active {color:white;}

.circleify {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.themeDefault {
  font-family: 'Roboto', 'sans-serif';
  background-color: #7DACCB;
	text-align: center;
	color: white;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.midshadow{
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.bigshadow{
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
}

.transparent{
  background-color: transparent;
}

a + a {
  padding-left: 20px;
}

#myname {
	margin-top:0px;
	position: relative;
	width: 100%;
	overflow:hidden;
	font-size: 100%;
	line-height:200%;
}

#mainbody {
  padding: 0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
}

#mainlinks {
 text-align: center;
}

#audiomp3 {
	width: 60%;
	display: table;
  margin: 0 auto;
}

h1 {
	font-size:300%;
	line-height: 100%;
}
